<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>vn.iotstar.controllers.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <display-name>LTWed9.9</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorldController</display-name>
    <servlet-name>HelloWorldController</servlet-name>
    <servlet-class>vn.iotstar.controllers.HelloWorldController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldController</servlet-name>
    <url-pattern>/HelloWorldController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaitingController</display-name>
    <servlet-name>WaitingController</servlet-name>
    <servlet-class>vn.iotstar.controllers.WaitingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitingController</servlet-name>
    <url-pattern>/WaitingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>vn.iotstar.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>vn.iotstar.controllers.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotController</display-name>
    <servlet-name>ForgotController</servlet-name>
    <servlet-class>vn.iotstar.controllers.ForgotController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotController</servlet-name>
    <url-pattern>/ForgotController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>
      org.sitemesh.config.ConfigurableSiteMeshFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>